[submodule "crates/vent-runtime/assets/models/test/Sponza"]
	path = crates/vent-runtime/assets/models/test/Sponza
	url = https://github.com/jimmiebergmann/Sponza
[submodule "crates/vent-runtime/assets/models/test/Bunny"]
	path = crates/vent-runtime/assets/models/test/Bunny
	url = https://github.com/alecjacobson/common-3d-test-models
